init:
  - git config --global core.autocrlf input
build_script:
  - cmd: build.bat
  - cmd: FSharp.Core.Nuget\build.cmd
test: off
version: '{build}'
artifacts:
  - path: lib\release
    name: release
  - path: FSharp.Core.Nuget\*.nupkg