body
{
    font-family: "Segoe UI", "Segoe WP", "Helvetica Neue", 'RobotoRegular', sans-serif;
    font-size: 14px;
    width: 780px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6
{
    font-family: "Segoe UI Light", "Helvetica Neue", 'RobotoLight', "Segoe UI", "Segoe WP", sans-serif;
    font-weight: 100;
    margin-bottom: -10px;
    margin-top: 15px;
}

h1, h2, h3 { text-transform: lowercase; }
h4, h5, h6 { font-weight: normal; text-transform: uppercase; }

h1 { font-size: 56px; margin-top: 40px; color: #1BA1E2; }
h2 { font-size: 42px; margin-top: 25px; }
h3 { font-size: 28px; }
h4 { font-size: 16px; }

a, a:visited
{
    text-decoration: none;
    color: #1BA1E2;
}
a:hover 
{
    color: white; 
    background: #1BA1E2
}

pre
{
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #AAAAAA;
    padding: 15px;
    overflow: auto;
}

ul.bar
{
    list-style-type: none;
    padding: 0;
    margin: 30px 0;
    text-align: center;
}
ul.bar li
{
    margin: 0 10px;
    display: inline-block;
    font-family: "Segoe UI Light", "Helvetica Neue", 'RobotoLight', "Segoe UI", "Segoe WP", sans-serif;
    font-weight: 100;
    font-size: 28px;
}

@media screen and (max-width:800px), screen and (max-device-width:800px)
{
    body { width:auto; margin:10px; }
    h1 { margin-top: 0px; }
   
    ul.bar
    {
        list-style-type: circle;
        padding: 0 0 0 40px;
        margin: 0px;
        text-align: left;
    }
    ul.bar li
    {
        margin: 5px 0;
        display: list-item;
        font-family: "Segoe UI", "Segoe WP", "Helvetica Neue", 'RobotoRegular', sans-serif;
        font-weight: normal;
        font-size: 14px;
    }
}

@media screen and (max-width:500px), screen and (max-device-width:500px)
{
    h1, h2, h3, h4, h5, h6
    {
        font-family: "Segoe UI", "Segoe WP", "Helvetica Neue", 'RobotoRegular', sans-serif;
        margin-top: 10px;
    }
    h1 { font-size: 30px; }
    h2 { font-size: 20px; text-transform: uppercase; }
    h3 { font-size: 20px; }
}
