###############################################################################
# Ignore test output
###############################################################################

*.exe
*.dll
*.pdb

*.ok
*.log
_UNATTENDEDLOG
