<?xml version ="1.0"?>
<configuration>
  <configSections>
    <section name="msbuildToolsets" type="Microsoft.Build.BuildEngine.ToolsetConfigurationSection, Microsoft.Build.Engine, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0.30319" />
    <requiredRuntime version="v4.0.30319" safemode="true"/>
  </startup>
  <runtime>
    <UseSmallInternalThreadStacks enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="PublicAssemblies;PrivateAssemblies;CommonExtensions\Microsoft\TemplateProviders;PrivateAssemblies\DataCollectors;PrivateAssemblies\DataCollectors\x86;CommonExtensions\Microsoft\Editor;CommonExtensions\Platform\Debugger"/>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.QualityTools.UnitTestFramework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="10.1.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.QualityTools.Tips.UnitTest.Adapter" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="10.1.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.QualityTools.Tips.UnitTest.ObjectModel" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="10.1.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.QualityTools.Tips.UnitTest.Tip" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="10.1.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EnvDTE" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="7.0.3300.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Shell" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="2.0.0.0-9.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Shell.9.0" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="2.0.0.0-9.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VSDesigner" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="8.0.0.0-9.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.WizardFramework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="8.0.0.0-9.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SqlServerCe" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="9.0.242.0" newVersion="3.5.0000.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServerCe.Client" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="9.0.242.0" newVersion="3.5.0000.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.vspEnumerator" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="9.0.242.0" newVersion="3.5.0000.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.vspManagementUI" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="9.0.242.0" newVersion="3.5.0000.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.EnterpriseTools.SdmDesigners" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="8.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.EnterpriseTools.SdmDesigners" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="9.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.EnterpriseTools.TypeSystem" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="8.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.EnterpriseTools.TypeSystem" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="9.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Modeling" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="8.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Modeling" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="9.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Modeling.Diagrams" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="8.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Modeling.Diagrams" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="9.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Tools.Office.Designer.Office2007" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="9.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Tools.Office.Ribbon" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="9.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="8.0.0.0-9.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Data" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="8.0.0.0-9.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.ConnectionUI" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="8.0.0.0-9.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.ConnectionUI.Dialog" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="8.0.0.0-9.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Data.Interop" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="8.0.0.0-9.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.DataTools.Interop" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="8.0.0.0-9.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="office" publicKeyToken="71e9bce111e9429c" culture="neutral"/>
        <codeBase version="12.0.0.0" href="PrivateAssemblies\Office12\Office.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Shell.Design" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="2.0.0.0-9.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportingServices.Interfaces" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="9.0.242.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportingServices.Designer" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="9.0.242.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportingServices.QueryDesigners" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="9.0.242.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.QualityTools.LoadTest" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="8.0.0.0-9.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.QualityTools.LoadTestFramework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="8.0.0.0-9.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.QualityTools.WebTestFramework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="8.0.0.0-9.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>


      <qualifyAssembly partialName="Microsoft.VisualStudio.HistoricalSearchMargin" fullName="Microsoft.VisualStudio.HistoricalSearchMargin,version=10.0.0.0,publicKeyToken=b03f5f7f11d50a3a,culture=neutral" />
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.HistoricalSearchMargin" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <codeBase version="10.0.0.0" href="Extensions\Microsoft\Historical Search\10.0\Microsoft.VisualStudio.HistoricalSearchMargin.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.HistoricalSearchMargin.resources" culture="en" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="Extensions\Microsoft\Historical Search\10.0\en\Microsoft.VisualStudio.HistoricalSearchMargin.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.HistoricalSearchMargin.resources" culture="ja" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="Extensions\Microsoft\Historical Search\10.0\ja\Microsoft.VisualStudio.HistoricalSearchMargin.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.HistoricalSearchMargin.resources" culture="de" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="Extensions\Microsoft\Historical Search\10.0\de\Microsoft.VisualStudio.HistoricalSearchMargin.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.HistoricalSearchMargin.resources" culture="es" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="Extensions\Microsoft\Historical Search\10.0\es\Microsoft.VisualStudio.HistoricalSearchMargin.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.HistoricalSearchMargin.resources" culture="fr" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="Extensions\Microsoft\Historical Search\10.0\fr\Microsoft.VisualStudio.HistoricalSearchMargin.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.HistoricalSearchMargin.resources" culture="it" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="Extensions\Microsoft\Historical Search\10.0\it\Microsoft.VisualStudio.HistoricalSearchMargin.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.HistoricalSearchMargin.resources" culture="ko" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="Extensions\Microsoft\Historical Search\10.0\ko\Microsoft.VisualStudio.HistoricalSearchMargin.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.HistoricalSearchMargin.resources" culture="ru" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="Extensions\Microsoft\Historical Search\10.0\ru\Microsoft.VisualStudio.HistoricalSearchMargin.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.HistoricalSearchMargin.resources" culture="zh-Hans" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="Extensions\Microsoft\Historical Search\10.0\zh-Hans\Microsoft.VisualStudio.HistoricalSearchMargin.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.HistoricalSearchMargin.resources" culture="zh-Hant" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="Extensions\Microsoft\Historical Search\10.0\zh-Hant\Microsoft.VisualStudio.HistoricalSearchMargin.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.HistoricalSearchMargin.resources" culture="pt-BR" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="Extensions\Microsoft\Historical Search\10.0\pt-BR\Microsoft.VisualStudio.HistoricalSearchMargin.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.HistoricalSearchMargin.resources" culture="pl" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="Extensions\Microsoft\Historical Search\10.0\pl\Microsoft.VisualStudio.HistoricalSearchMargin.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="ClwWizard.resources" culture="cs" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="Extensions\Microsoft\VC\10.0\cs\ClwWizard.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="ClwWizard.resources" culture="tr" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="Extensions\Microsoft\VC\10.0\tr\ClwWizard.resources.dll" />
      </dependentAssembly>

      <qualifyAssembly
          partialName="Microsoft.VisualStudio.Language.NavigateTo.Implementation"
          fullName="Microsoft.VisualStudio.Language.NavigateTo.Implementation,version=10.0.0.0,publicKeyToken=b03f5f7f11d50a3a,culture=neutral" />
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.Language.NavigateTo.Implementation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <codeBase version="10.0.0.0" href="CommonExtensions\Platform\NavigateTo\10.0\Microsoft.VisualStudio.Language.NavigateTo.Implementation.dll" />
      </dependentAssembly>

      <qualifyAssembly
          partialName="Microsoft.VisualBasic.Editor"
          fullName="Microsoft.VisualBasic.Editor,version=10.0.0.0,publicKeyToken=b03f5f7f11d50a3a,culture=neutral"/>
      <qualifyAssembly
          partialName="Microsoft.VisualStudio.VisualBasic.LanguageService"
          fullName="Microsoft.VisualStudio.VisualBasic.LanguageService,version=10.0.0.0,publicKeyToken=b03f5f7f11d50a3a,culture=neutral"/>

      <qualifyAssembly
          partialName="Microsoft.VisualStudio.HpcDebugger.Impl"
          fullName="Microsoft.VisualStudio.HpcDebugger.Impl,version=10.0.0.0,publicKeyToken=b03f5f7f11d50a3a,culture=neutral"/>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.HpcDebugger.Impl" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <codeBase version="10.0.0.0" href="CommonExtensions\Microsoft\Project\Microsoft.VisualStudio.HpcDebugger.Impl.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.HpcDebugger.Impl.resources" culture="en" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="CommonExtensions\Microsoft\Project\en\Microsoft.VisualStudio.HpcDebugger.Impl.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.HpcDebugger.Impl.resources" culture="ja" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="CommonExtensions\Microsoft\Project\ja\Microsoft.VisualStudio.HpcDebugger.Impl.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.HpcDebugger.Impl.resources" culture="de" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="CommonExtensions\Microsoft\Project\de\Microsoft.VisualStudio.HpcDebugger.Impl.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.HpcDebugger.Impl.resources" culture="es" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="CommonExtensions\Microsoft\Project\es\Microsoft.VisualStudio.HpcDebugger.Impl.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.HpcDebugger.Impl.resources" culture="fr" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="CommonExtensions\Microsoft\Project\fr\Microsoft.VisualStudio.HpcDebugger.Impl.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.HpcDebugger.Impl.resources" culture="it" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="CommonExtensions\Microsoft\Project\it\Microsoft.VisualStudio.HpcDebugger.Impl.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.HpcDebugger.Impl.resources" culture="ko" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="CommonExtensions\Microsoft\Project\ko\Microsoft.VisualStudio.HpcDebugger.Impl.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.HpcDebugger.Impl.resources" culture="ru" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="CommonExtensions\Microsoft\Project\ru\Microsoft.VisualStudio.HpcDebugger.Impl.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.HpcDebugger.Impl.resources" culture="zh-Hans" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="CommonExtensions\Microsoft\Project\zh-Hans\Microsoft.VisualStudio.HpcDebugger.Impl.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.HpcDebugger.Impl.resources" culture="zh-Hant" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="CommonExtensions\Microsoft\Project\zh-Hant\Microsoft.VisualStudio.HpcDebugger.Impl.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.HpcDebugger.Impl.resources" culture="pt-BR" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="CommonExtensions\Microsoft\Project\pt-BR\Microsoft.VisualStudio.HpcDebugger.Impl.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.HpcDebugger.Impl.resources" culture="pl" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="CommonExtensions\Microsoft\Project\pl\Microsoft.VisualStudio.HpcDebugger.Impl.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.HpcDebugger.Impl.resources" culture="cs" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="CommonExtensions\Microsoft\Project\cs\Microsoft.VisualStudio.HpcDebugger.Impl.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.HpcDebugger.Impl.resources" culture="tr" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="CommonExtensions\Microsoft\Project\tr\Microsoft.VisualStudio.HpcDebugger.Impl.resources.dll" />
      </dependentAssembly>

      <qualifyAssembly
          partialName="Microsoft.VisualStudio.CodeAnalysis.VCPlugin"
          fullName="Microsoft.VisualStudio.CodeAnalysis.VCPlugin,version=10.0.0.0,publicKeyToken=b03f5f7f11d50a3a,culture=neutral"/>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.CodeAnalysis.VCPlugin" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <codeBase version="10.0.0.0" href="CommonExtensions\Microsoft\CodeAnalysis\Microsoft.VisualStudio.CodeAnalysis.VCPlugin.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.CodeAnalysis.VCPlugin.resources" culture="en" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="CommonExtensions\Microsoft\CodeAnalysis\en\Microsoft.VisualStudio.CodeAnalysis.VCPlugin.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.CodeAnalysis.VCPlugin.resources" culture="ja" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="CommonExtensions\Microsoft\CodeAnalysis\ja\Microsoft.VisualStudio.CodeAnalysis.VCPlugin.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.CodeAnalysis.VCPlugin.resources" culture="de" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="CommonExtensions\Microsoft\CodeAnalysis\de\Microsoft.VisualStudio.CodeAnalysis.VCPlugin.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.CodeAnalysis.VCPlugin.resources" culture="es" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="CommonExtensions\Microsoft\CodeAnalysis\es\Microsoft.VisualStudio.CodeAnalysis.VCPlugin.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.CodeAnalysis.VCPlugin.resources" culture="fr" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="CommonExtensions\Microsoft\CodeAnalysis\fr\Microsoft.VisualStudio.CodeAnalysis.VCPlugin.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.CodeAnalysis.VCPlugin.resources" culture="it" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="CommonExtensions\Microsoft\CodeAnalysis\it\Microsoft.VisualStudio.CodeAnalysis.VCPlugin.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.CodeAnalysis.VCPlugin.resources" culture="ko" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="CommonExtensions\Microsoft\CodeAnalysis\ko\Microsoft.VisualStudio.CodeAnalysis.VCPlugin.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.CodeAnalysis.VCPlugin.resources" culture="ru" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="CommonExtensions\Microsoft\CodeAnalysis\ru\Microsoft.VisualStudio.CodeAnalysis.VCPlugin.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.CodeAnalysis.VCPlugin.resources" culture="zh-Hans" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="CommonExtensions\Microsoft\CodeAnalysis\zh-Hans\Microsoft.VisualStudio.CodeAnalysis.VCPlugin.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.CodeAnalysis.VCPlugin.resources" culture="zh-Hant" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="CommonExtensions\Microsoft\CodeAnalysis\zh-Hant\Microsoft.VisualStudio.CodeAnalysis.VCPlugin.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.CodeAnalysis.VCPlugin.resources" culture="pt-BR" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="CommonExtensions\Microsoft\CodeAnalysis\pt-BR\Microsoft.VisualStudio.CodeAnalysis.VCPlugin.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.CodeAnalysis.VCPlugin.resources" culture="pl" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="CommonExtensions\Microsoft\CodeAnalysis\pl\Microsoft.VisualStudio.CodeAnalysis.VCPlugin.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.CodeAnalysis.VCPlugin.resources" culture="cs" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="CommonExtensions\Microsoft\CodeAnalysis\cs\Microsoft.VisualStudio.CodeAnalysis.VCPlugin.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.CodeAnalysis.VCPlugin.resources" culture="tr" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="CommonExtensions\Microsoft\CodeAnalysis\tr\Microsoft.VisualStudio.CodeAnalysis.VCPlugin.resources.dll" />
      </dependentAssembly>

      <qualifyAssembly
          partialName="Microsoft.XmlEditor"
          fullName="Microsoft.XmlEditor,version=10.0.0.0,publicKeyToken=b03f5f7f11d50a3a,culture=neutral" />
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.XmlEditor" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <codeBase version="10.0.0.0" href="Xml\Microsoft.XmlEditor.dll" />
      </dependentAssembly>

      <qualifyAssembly
          partialName="Microsoft.VisualStudio.PerformanceTools.CounterInfo"
          fullName="Microsoft.VisualStudio.PerformanceTools.CounterInfo,version=10.0.0.0,publicKeyToken=b03f5f7f11d50a3a,culture=neutral" />
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.PerformanceTools.CounterInfo" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <codeBase version="10.0.0.0" href="..\..\Team Tools\Performance Tools\Microsoft.VisualStudio.PerformanceTools.CounterInfo.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.PerformanceTools.CounterInfo.resources" culture="ja" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="..\..\Team Tools\Performance Tools\ja\Microsoft.VisualStudio.PerformanceTools.CounterInfo.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.PerformanceTools.CounterInfo.resources" culture="de" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="..\..\Team Tools\Performance Tools\de\Microsoft.VisualStudio.PerformanceTools.CounterInfo.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.PerformanceTools.CounterInfo.resources" culture="es" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="..\..\Team Tools\Performance Tools\es\Microsoft.VisualStudio.PerformanceTools.CounterInfo.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.PerformanceTools.CounterInfo.resources" culture="fr" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="..\..\Team Tools\Performance Tools\fr\Microsoft.VisualStudio.PerformanceTools.CounterInfo.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.PerformanceTools.CounterInfo.resources" culture="it" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="..\..\Team Tools\Performance Tools\it\Microsoft.VisualStudio.PerformanceTools.CounterInfo.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.PerformanceTools.CounterInfo.resources" culture="ko" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="..\..\Team Tools\Performance Tools\ko\Microsoft.VisualStudio.PerformanceTools.CounterInfo.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.PerformanceTools.CounterInfo.resources" culture="ru" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="..\..\Team Tools\Performance Tools\ru\Microsoft.VisualStudio.PerformanceTools.CounterInfo.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.PerformanceTools.CounterInfo.resources" culture="zh-Hans" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="..\..\Team Tools\Performance Tools\zh-Hans\Microsoft.VisualStudio.PerformanceTools.CounterInfo.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.PerformanceTools.CounterInfo.resources" culture="zh-Hant" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="..\..\Team Tools\Performance Tools\zh-Hant\Microsoft.VisualStudio.PerformanceTools.CounterInfo.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.PerformanceTools.CounterInfo.resources" culture="pt-BR" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="..\..\Team Tools\Performance Tools\pt-BR\Microsoft.VisualStudio.PerformanceTools.CounterInfo.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.PerformanceTools.CounterInfo.resources" culture="pl" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="..\..\Team Tools\Performance Tools\pl\Microsoft.VisualStudio.PerformanceTools.CounterInfo.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.PerformanceTools.CounterInfo.resources" culture="cs" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="..\..\Team Tools\Performance Tools\cs\Microsoft.VisualStudio.PerformanceTools.CounterInfo.resources.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity version="10.0.0.0" name="Microsoft.VisualStudio.PerformanceTools.CounterInfo.resources" culture="tr" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="10.0.0.0" href="..\..\Team Tools\Performance Tools\tr\Microsoft.VisualStudio.PerformanceTools.CounterInfo.resources.dll" />
      </dependentAssembly>

    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Microsoft.SqlServerCe.Client" />
      <remove invariant="Microsoft.SqlServerCe.Client.3.5" />
      <add name="Microsoft SQL Server Compact Edition Client Data Provider" invariant="Microsoft.SqlServerCe.Client.3.5" description=".NET Framework Data Provider for Microsoft SQL Server Compact Edition Client" type="Microsoft.SqlServerCe.Client.SqlCeClientFactory, Microsoft.SqlServerCe.Client, Version=3.5.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
  <system.net>
    <settings>
      <ipv6 enabled="true"/>
    </settings>
  </system.net>
  <appSettings>
    <add key="TestProjectRetargetTo35Allowed" value="true" />
  </appSettings>
</configuration>
